html {}


/*<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">*/

body {
    margin: 0;
    font: 18px font-family: 'PT Sans Narrow', sans-serif;
    background-color: gray;
}

.border {}

header {

}
.intro ul {
    list-style: none;
}

.pics img {
  border: solid;
  border-radius: 10px;
  margin-left: 10px;
}
 .pics {
list-style: none;
/*border: solid transparent;*/
padding: 10px;
margin: 10px;
display: flex;
justify-content: center;
align-items: center;


}

main{

}

.tiy img {

}

span {
  font-weight: bolder;
  font-size: 25px;
}
.contact {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
  font-size: 10px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
